In [156]:
from evaluation.metrics import compute_evaluation_metrics 

import numpy as np
import pandas as pd

## Evaluation

In [177]:
from evaluation.evaluate import evaluate_model # refer to code

In [178]:
!ls output/gdaps_kim_unet_utc00_unet_kim_test

epoch001  epoch003  epoch005  epoch007	epoch009  train_log
epoch002  epoch004  epoch006  epoch008	epoch010  trained_model

In [179]:
!ls output/gdaps_kim_unet_utc00_unet_kim_test/epoch001

train_binary_metrics_heavy.csv	train_summary.txt	      val_confusion.npy
train_binary_metrics_rain.csv	val_binary_metrics_heavy.csv  val_summary.txt
train_confusion.npy		val_binary_metrics_rain.csv

In [226]:
confusion = np.load("output/gdaps_kim_unet_utc00_unet_kim_test/epoch001/train_confusion.npy")

In [227]:
confusion

array([[1099105,   90499,    7668],
       [   2803,    4096,     481],
       [    205,       7,       0]])

In [180]:
rain = pd.read_csv("output/gdaps_kim_unet_utc00_unet_kim_test/epoch001/train_binary_metrics_rain.csv").iloc[:,1:]

In [182]:
rain

             origin  lead_time  hit  miss   fa   cn
0     20210727_0000         27    0     0  103  372
1     20210709_0000         37    3    45   90  339
2     20210801_0000         81    1     4   91  379
3     20210726_0000         25    0     0   44  425
4     20210818_0000         49    0     1   49  418
...             ...        ...  ...   ...  ...  ...
2537  20210818_0000         31    0    35    1  435
2538  20210709_0000         66    0     0    0  476
2539  20210811_0000         25   15     4    1  455
2540  20210828_0000         56    0     5    0  467
2541  20210804_0000         82    0     6    0  471

[2542 rows x 6 columns]

In [229]:
rain_copy = rain.copy()
compute_evaluation_metrics(rain_copy)
rain_copy

,origin,lead_time,hit,miss,fa,cn,acc,pod,far,csi,bias
0,20210727_0000,27,0,0,103,372,0.783158,NaN,1.000000,0.000000,inf
1,20210709_0000,37,3,45,90,339,0.716981,0.062500,0.967742,0.021739,1.937500
2,20210801_0000,81,1,4,91,379,0.800000,0.200000,0.989130,0.010417,18.400000
3,20210726_0000,25,0,0,44,425,0.906183,NaN,1.000000,0.000000,inf
4,20210818_0000,49,0,1,49,418,0.893162,0.000000,1.000000,0.000000,49.000000
...,...,...,...,...,...,...,...,...,...,...,...
2537,20210818_0000,31,0,35,1,435,0.923567,0.000000,1.000000,0.000000,0.028571
2538,20210709_0000,66,0,0,0,476,1.000000,NaN,NaN,NaN,NaN
2539,20210811_0000,25,15,4,1,455,0.989474,0.789474,0.062500,0.750000,0.842105
2540,20210828_0000,56,0,5,0,467,0.989407,0.000000,NaN,0.000000,0.000000
2541,20210804_0000,82,0,6,0,471,0.987421,0.000000,NaN,0.000000,0.000000

In [190]:
total = rain.sum()
total

origin       20210727_000020210709_000020210801_00002021072...
lead_time                                               118203
hit                                                       4584
miss                                                     98167
fa                                                        3008
cn                                                     1099105
dtype: object

In [191]:
compute_evaluation_metrics(total)
total

origin       20210727_000020210709_000020210801_00002021072...
lead_time                                               118203
hit                                                       4584
miss                                                     98167
fa                                                        3008
cn                                                     1099105
acc                                                   0.916028
pod                                                   0.044613
far                                                   0.396207
csi                                                   0.043344
bias                                                  0.073887
dtype: object

In [196]:
rain_by_origin = rain.groupby('origin').agg('sum')
compute_evaluation_metrics(rain_by_origin)
rain_by_origin.head()

,lead_time,hit,miss,fa,cn,acc,pod,far,csi,bias
origin,,,,,,,,,,
20210701_0000,3813,320,7867,122,30798,0.795714,0.039086,0.276018,0.038512,0.053988
20210702_0000,3813,311,10722,185,27775,0.720283,0.028188,0.372984,0.027723,0.044956
20210703_0000,3813,777,13303,113,24718,0.655213,0.055185,0.126966,0.054745,0.063210
20210708_0000,3813,2,3579,27,35551,0.907914,0.000559,0.931034,0.000554,0.008098
20210709_0000,3813,3,1800,94,37151,0.951496,0.001664,0.969072,0.001581,0.053799

In [201]:
rain_by_lead_time = rain.groupby('lead_time').agg('sum')
compute_evaluation_metrics(rain_by_lead_time)
rain_by_lead_time.head()

,hit,miss,fa,cn,acc,pod,far,csi,bias
lead_time,,,,,,,,,
6,19,1248,17,13394,0.913817,0.014996,0.472222,0.014798,0.028414
7,69,1373,35,13210,0.904133,0.047850,0.336538,0.046716,0.072122
8,6,1469,2,13207,0.899823,0.004068,0.250000,0.004062,0.005424
9,145,1478,153,12910,0.888942,0.089341,0.513423,0.081644,0.183611
10,1,1668,19,12992,0.885082,0.000599,0.950000,0.000592,0.011983